# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Model files
*.pkl
*.joblib

# OS-specific
.DS_Store
Thumbs.db

# Environment / IDE settings
.vscode/
.idea/
*.swp
